<mat-toolbar color="primary" class="app-bar mat-elevation-z2" data-cy="pxb-toolbar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">In an App Bar</div>
</mat-toolbar>

<div class="exmaple-container" style="margin:16px;">
    <!-- Generic Icon Avatar - Guest User Menu -->
    <mat-toolbar color="primary" style="margin: 16px;">
        <mat-toolbar-row style="justify-content: space-between">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <div class="mat-display-1">Generic Icon Avatar</div>
            <div class="mat-headline">Shared / Anonymous Account</div>
        </mat-toolbar-row>
        <mat-toolbar-row style="justify-content: space-between">
            <button mat-icon-button [matMenuTriggerFor]="guestMenu">
                <!-- Add (click) here to toggle user menu -->
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #guestMenu="matMenu">
                <button mat-menu-item>Browsing as a guest</button>
                <button mat-menu-item><mat-icon>login</mat-icon>Log In</button>
                <button mat-menu-item><mat-icon>create</mat-icon>Register</button>
                <button mat-menu-item><mat-icon>info</mat-icon>About</button>
              </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- Basic Letter Avatar User Menu -->
    <mat-toolbar color="primary" style="margin: 16px;">
        <mat-toolbar-row style="justify-content: space-between">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <div class="mat-display-1">Basic Letter Avatar</div>
            <div class="mat-headline">Showing User's Initials</div>
        </mat-toolbar-row>
        <mat-toolbar-row style="justify-content: space-between">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <!-- Add (click) here to toggle user menu -->
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <div class="user-menu-header">
                    <div class="user-icon">
                        <button mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <div class="user-info">
                        <span pxb-title>Chima Thabani</span>
                        <span pxb-subtitle>CThabani@example.com</span>
                    </div>
                </div>
                <button mat-menu-item><mat-icon>vpn_key</mat-icon>Change Password</button>
                <button mat-menu-item><mat-icon>settings</mat-icon>Preferences</button>
                <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Log Out</button>
              </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- Image Avatar User Menu -->
    <mat-toolbar color="primary" style="margin: 16px;">
        <mat-toolbar-row style="justify-content: space-between">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <div class="mat-display-1">Image Avatar</div>
            <div class="mat-headline">Showing A Custom Profile Picture</div>
        </mat-toolbar-row>
        <mat-toolbar-row style="justify-content: space-between">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <!-- Add (click) here to toggle user menu -->
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <div class="user-menu-header">
                    <div class="user-icon">
                        <button mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <div class="user-info">
                        <span pxb-title>Chima Thabani</span>
                        <span pxb-subtitle>CThabani@example.com</span>
                    </div>
                </div>
                <button mat-menu-item><mat-icon>vpn_key</mat-icon>Change Password</button>
                <button mat-menu-item><mat-icon>settings</mat-icon>Preferences</button>
                <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Log Out</button>
              </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
