<mat-toolbar color="primary" class="app-bar mat-elevation-z2" data-cy="pxb-toolbar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">In an App Bar</div>
</mat-toolbar>

<div class="exmaple-container" style="margin:16px;">
    <!-- Generic Icon Avatar - Guest User Menu -->
    <mat-toolbar color="primary" style="margin: 16px; max-width: 960px;">
        <span style="justify-content: space-between">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span>
            <div pxb-title>Generic Icon Avatar</div>
            <div pxb-subtitle>Shared / Anonymous Account</div>
        </span>
        <span style="justify-content: space-between">
            <button mat-icon-button [matMenuTriggerFor]="guestMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <!-- TODO: use PXBlue userMenu component from StoryBook -->
            <mat-menu #guestMenu="matMenu">
                <button mat-menu-item>Browsing as a guest</button>
                <button mat-menu-item><mat-icon>login</mat-icon>Log In</button>
                <button mat-menu-item><mat-icon>create</mat-icon>Register</button>
                <button mat-menu-item><mat-icon>info</mat-icon>About</button>
            </mat-menu>
        </span>
    </mat-toolbar>

    <!-- Basic Letter Avatar User Menu -->
    <mat-toolbar color="primary" style="margin: 16px; max-width: 960px;">
        <span style="justify-content: space-between">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span>
            <div H6>Basic Letter Avatar</div>
            <div Body1>Showing User's Initials</div>
        </span>
        <span style="justify-content: space-between">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <pxb-user-menu avatarValue="CT"></pxb-user-menu>
                <!-- <mat-icon>account_circle</mat-icon> -->
            </button>
            <!-- TODO: use PXBlue userMenu component from StoryBook -->
            <!-- <pxb-user-menu 
                [avatarValue]="avatarValue"     or      avatarValue="CT" 
                [menuTitle]="menuTitle"         or      menuTitle="Chima Thabani"
                [menuSubtitle]="menuSubtitle"   or      menuSubTitle="CThabani@example.com"
                [(open)]="open">
                <mat-nav-list pxb-menu-body [style.paddingTop.px]="0">
                    <pxb-info-list-item *ngFor="let item of items" [dense]="true" 
                        (click)="open=false; item.onSelect();">
                        <mat-icon pxb-icon [style.transform]="invertRTL()">{{item.icon}}</mat-icon>
                        <div pxb-title>{{item.title}}</div>
                    </pxb-info-list-item>
                </mat-nav-list>
            </pxb-user-menu>  -->
            <mat-menu #userMenu="matMenu" avatarValue="AV">
                <div class="user-menu-header">
                    <div class="user-icon">
                        <button mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <span class="user-info">
                        <div pxb-title>Chima Thabani</div>
                        <div pxb-subtitle>CThabani@example.com</div>
                    </span>
                </div>
                <button mat-menu-item><mat-icon>vpn_key</mat-icon>Change Password</button>
                <button mat-menu-item><mat-icon>settings</mat-icon>Preferences</button>
                <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Log Out</button>
            </mat-menu>
        </span>
    </mat-toolbar>

    <!-- Image Avatar User Menu -->
    <mat-toolbar color="primary" style="margin: 16px; max-width: 960px;">
        <span style="justify-content: space-between">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span>
            <div pxb-title>Image Avatar</div>
            <div pxb-subtitle>Showing A Custom Profile Picture</div>
        </span>
        <span style="justify-content: space-between">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <!-- TODO: use PXBlue userMenu component from StoryBook -->
            <mat-menu #userMenu="matMenu">
                <div class="user-menu-header">
                    <div class="user-icon">
                        <button mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <span class="user-info">
                        <div pxb-title>Chima Thabani</div>
                        <div pxb-subtitle>CThabani@example.com</div>
                    </span>
                </div>
                <button mat-menu-item><mat-icon>vpn_key</mat-icon>Change Password</button>
                <button mat-menu-item><mat-icon>settings</mat-icon>Preferences</button>
                <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Log Out</button>
            </mat-menu>
        </span>
    </mat-toolbar>

    <!-- Status Avatar User Menu -->
    <mat-toolbar color="primary" style="margin: 16px; max-width: 960px;">
        <span style="justify-content: space-between">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span>
            <div pxb-title>Status Avatar</div>
            <div pxb-subtitle>Avatar with Status Indicator</div>
        </span>
        <span style="justify-content: space-between">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <!-- TODO: use PXBlue userMenu component from StoryBook -->
            <mat-menu #userMenu="matMenu">
                <div class="user-menu-header">
                    <div class="user-icon">
                        <button mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <span class="user-info">
                        <div pxb-title>Chima Thabani</div>
                        <div pxb-subtitle>CThabani@example.com</div>
                    </span>
                </div>
                <button mat-menu-item><mat-icon>vpn_key</mat-icon>Change Password</button>
                <button mat-menu-item><mat-icon>settings</mat-icon>Preferences</button>
                <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Log Out</button>
            </mat-menu>
        </span>
    </mat-toolbar>

    <!-- Text Menu User Account Menu -->
    <mat-toolbar color="primary" style="margin: 16px; max-width: 960px;">
        <span style="justify-content: space-between">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span>
            <div class="mat-display-1">Text Menu</div>
            <div class="mat-headline">Calling Out the User Name</div>
        </span>
        <span style="justify-content: space-between">
            <!-- Use PXBlue storyBook user menu component, ng chip will need extra work -->
            <button mat-icon-button [matMenuTriggerFor]="userChipMenu">
                <!-- Add (click) here to toggle user menu Activation-->
                <mat-chip>
                    <mat-icon>account_circle</mat-icon>
                    <div>Admin</div>
                    <mat-icon>expand_more</mat-icon>
                </mat-chip>
            </button>
            <mat-menu #userChipMenu="matMenu">
                <button mat-menu-item><mat-icon>vpn_key</mat-icon>Change Password</button>
                <button mat-menu-item><mat-icon>settings</mat-icon>Preferences</button>
                <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Log Out</button>
            </mat-menu>
        </span>
    </mat-toolbar>
</div>
